#movieHeader {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ddd; 
}

#movieCarousel {
  margin: 2rem;
  background-color: #007bff;
  padding-bottom: 2rem;
}

img {
  height: 30rem;
  object-fit: contain;
  background-color: #007bff;
  padding-top: 2rem;
}

h5 {
  color: black;
  font-weight: bold;
}

p {
  color: black;
  padding-left: 1rem;
  padding-left: 1rem;
}

.btn-clickable {
  cursor: pointer;
}
